body{
    background-color: rgb(221, 231, 239);
    height: 100vh;
}
h1{
    color: black;
    transition: background-color 300ms;
}
div{
    width: 100%;
   /* max-width: 200px;*/
    border: 1px solid black;
    font-size: 22px;
    font-weight: 600;
    font-family: "Roboto", sans-serif;
}
.red{
    color:red
}
.blue{
    color: blue;
}
p{
    color: black;
}
section{
    height: 80vh;
    border: 1px solid black;
}
@media (max-width: 992px){
    div{
        font-size: 20px;
    }
}
@media (max-width: 768px){
    div{
        font-size: 18px;
    }
}
@media (max-width: 576px){
    div{
        font-size: 14px;
    }
}
h1:hover{
    background-color: rgba(0, 0, 0, 0.5);
}
button{
    transition: all 300ms;
    animation: float 2000ms infinite alternate-reverse;
}/* Can be use for dark mode*/
button:hover{
    background-color: black;
    color: white;
}
@keyframes float{/*Creating Animation*/
    0%{
        transform: translateY(0);
    }
    100%{
        transform: translateY(10px);
    }
}
.nav__link{
    color: black;
}
/*Block Element Modifier*/
.nav__link--active{
    color: purple;
    font-weight: bold;
}